:root {
  /* padding: 0 5%; */
  background: #d7d7e3;
}
body {
  /* background-color: yellow; */
  background: linear-gradient(to right, #d7d7e3, #d7d7e3);
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: black; */
}
